{% extends 'querriesTraders/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
				<nav class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group btn-group-lg" role="group">
						<a class="btn btn-primary active" href="#formLogin">المندوب</a>
						<a class="btn btn-primary" href="#trader">التاجر</a>
						<a class="btn btn-primary" href="#epay">مكن الدفع الإلكترونى</a>
						<a class="btn btn-primary" href="#tayer">الطاير</a>
						<a class="btn btn-primary" href="#mobile">المحمول</a>
						<a class="btn btn-primary" href="#evaluate">التقييمات</a>

					</div>
				</nav>
        <hr class="mb-4">
        <div class="row justify-content-center">
          <div class="col-md-6">

						<!-- form card login -->
      <form method="POST" class="form" >
          {% csrf_token %}

            <div class="card card-outline-secondary">
                <span class="anchor" id="formLogin"></span>
              <div class="card-header">
                <h3 class="mb-0"> المندوب</h3>
              </div>
              <div class="card-body">

                    {{form.nameOfMandoop|as_crispy_field}}
                    {{form.area|as_crispy_field}}

              </div><!--/card-block-->
            </div><!-- /المندوب -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="trader"></span>
              <div class="card-header">
                <h3 class="mb-0">التاجر</h3>
              </div>
              <div class="card-body">


                    {{form.ownerName|as_crispy_field}}
                    {{form.shopName|as_crispy_field}}
                    {{form.phoneNumber|as_crispy_field}}
                    {{form.address|as_crispy_field}}


              </div><!--/card-block-->
            </div><!-- /التاجر -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="epay"></span>
              <div class="card-header">
                <h3 class="mb-0">الدفع الإلكترونى</h3>
              </div>
              <div class="card-body">


                    {{form.machinesOfepay|as_crispy_field}}



              </div><!--/card-block-->
            </div><!-- /الدفع الإلكترونى -->

            <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="tayer"></span>
              <div class="card-header">
                <h3 class="mb-0">الطاير</h3>
              </div>
              <div class="card-body">


                    {{form.tayer|as_crispy_field}}
                    {{form.intention|as_crispy_field}}



              </div><!--/card-block-->
            </div><!--  الطاير -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="mobile"></span>
              <div class="card-header">
                <h3 class="mb-0">المحمول</h3>
              </div>
              <div class="card-body">


                    {{form.kindOfMobile|as_crispy_field}}



              </div><!--/card-block-->
            </div><!--  المحمول -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="evaluate"></span>
              <div class="card-header">
                <h3 class="mb-0">التقييمات</h3>
              </div>
              <div class="card-body">
                    {{form.amountOfTreat|as_crispy_field}}
                    {{form.evaluate|as_crispy_field}}
                    {{form.notes|as_crispy_field}}

                  <input class="form-control btn btn-success btn-lg float-center text-light" value="حفظ" type="submit" >

              </div><!--/card-block-->
            </div><!--  التقييمات -->



      </form>
          </div>
        </div>

<!-- Scroll to Top -->
<a id="scroll-to-top" href="#" class="btn btn-primary btn-lg" role="button" title="Return to top of page" data-toggle="tooltip" data-placement="left">
    <i class="fa fa-arrow-up"></i></a>


{% endblock %}

{% block script %}
<script type='text/javascript'>
//$('input[name="machinesOfepay"]').attr("name","machinesOfepay[]");
//$('input[name="kindOfMobile"]').attr("name","kindOfMobile[]");
$('#id_intention').hide();
$('input:radio[name="nameOfMandoop"]').change(
    function(){
            var waleed = `<option value='نبروه'>نبروه<option>
                        <option value='نشا'>نشا<option>
                        <option value='طيبه'>طيبه<option>
                        <option value='طبنوها'>طبنوها<option>
                        <option value='كفر بهوت'>كفر بهوت<option>
                        <option value='الدروتين'>الدروتين<option>
                        <option value='نبروه'>نبروه<option>
                        <option value='دميره'>دميره<option>
                        <option value='كفر دميره الجديد'>كفر دميره الجديد<option>
                        <option value='الخازندار'>الخازندار<option>
                        <option value='بلقاس'>بلقاس<option>
                        <option value='المعصره'>المعصره<option>
                        <option value='بهوت'>بهوت<option>`;

            var fayes = `<option value='ميت بدر'> ميت بدر<option>
                        <option value='ميت خميس'> ميت خميس<option>
                        <option value='منية سندوب'> منية سندوب<option>
                        <option value='نقيطة'> نقيطة<option>
                        <option value='عزبة الحواوشه'> عزبة الحواوشه<option>
                        <option value='سلكا'> سلكا<option>
                        <option value='نوسا الغيط'> نوسا الغيط<option>
                        <option value='أجا'> أجا<option>
                        <option value='منية سمنود'> منية سمنود<option>
                        <option value='سنبخت'> سنبخت<option>
                        <option value='نوسا البحر'> نوسا البحر<option>
                        <option value='كفر الشنهاب'> كفر الشنهاب<option>
                        <option value='اويش الحجر'> اويش الحجر<option>`;

            var hassan = `<option value='ميت الكرما'> ميت الكرما<option>
                        <option value='جوجر'> جوجر<option>
                        <option value='منشاه البدوى'> منشاه البدوى<option>
                        <option value='شرنقاش'> شرنقاش<option>
                        <option value='ميت عنتر'> ميت عنتر<option>
                        <option value='الطويله'> الطويله<option>
                        <option value='كتامه'> كتامه<option>
                        <option value='ديسط'> ديسط<option>
                        <option value='بساط'> بساط<option>
                        <option value='كفربساط'> كفربساط<option>
                        <option value='بطره'> بطره<option>`;

            var ibrahim = `<option value='ميت مزاح'> ميت مزاح<option>
                        <option value='الريدانيه'> الريدانيه<option>
                        <option value='سلامون'> سلامون<option>
                        <option value='منية محله دمنه'> منية محله دمنه<option>
                        <option value='الجزيره'> الجزيره<option>
                        <option value='القباب الصغرى والكبرى'> القباب الصغرى والكبرى<option>
                        <option value='دموه'> دموه<option>
                        <option value='ميت ضافر'> ميت ضافر<option>
                        <option value='دكرنس'> دكرنس<option>
                        <option value='ميت فارس'> ميت فارس<option>
                        <option value='بنى عبيد'> بنى عبيد<option>
                        <option value='طناح'> طناح<option>
                        <option value='الخليج'> الخليج<option>
                        <option value='بدين'> بدين<option>
                        <option value='الدنابيق'> الدنابيق<option>
                        <option value='ميت مزاح'> ميت مزاح<option>
                        <option value='الريدانيه'> الريدانيه<option>
                        <option value='سلامون'> سلامون<option>`;

        if ($(this).is(':checked') && $(this).val() == 'وليد') {
            $('#id_area').children().remove();
            $('#id_area').append(waleed);
            }
            else if($(this).is(':checked') && $(this).val() == 'فايز') {
            $('#id_area').children().remove();
            $('#id_area').append(fayes);


            }else if($(this).is(':checked') && $(this).val() == 'حسن') {
            $('#id_area').children().remove();
            $('#id_area').append(hassan);


            }else if($(this).is(':checked') && $(this).val() == 'إبراهيم') {
            $('#id_area').children().remove();
            $('#id_area').append(ibrahim);
            }
    });


$('input:radio[name="tayer"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == 'يوجد') {
            $('#id_intention').fadeIn(500);
        }else{
            $('#id_intention').fadeOut(500);
        }
    });



    </script>

{% endblock %}