{% extends 'querriesTraders/base.html' %}
{% load crispy_forms_tags %}
{% block title %} جدول داتا التجار{% endblock %}
{% block content %}
<!--				<nav class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">-->
<!--					<div class="btn-group btn-group-lg" role="group">-->
<!--						<a class="btn btn-primary active" href="#formLogin">المندوب</a>-->
<!--						<a class="btn btn-primary" href="#trader">التاجر</a>-->
<!--						<a class="btn btn-primary" href="#epay">مكن الدفع الإلكترونى</a>-->
<!--						<a class="btn btn-primary" href="#tayer">الطاير</a>-->
<!--						<a class="btn btn-primary" href="#mobile">المحمول</a>-->
<!--						<a class="btn btn-primary" href="#evaluate">التقييمات</a>-->

<!--					</div>-->
<!--				</nav>-->
        <hr class="mb-4">
        <div class="row justify-content-center">
          <div class="col-md-6">

						<!-- form card login -->
      <form class="form" id="form">
          {% csrf_token %}
          <div class="alert alert-success" role="alert" id="box_message_success">تم التسجيل بنجاح</div>
          <div class="alert alert-danger" role="alert" id="box_message_danger">عفوا حدث خطأ أثناء التسجيل</div>
            <div class="card card-outline-secondary">
                <span class="anchor" id="formLogin"></span>
              <div class="card-header">
                <h3 class="mb-0"> المندوب</h3>
              </div>
              <div class="card-body">

                    {{form.nameOfMandoop|as_crispy_field}}
                    {{form.area|as_crispy_field}}

              </div><!--/card-block-->
            </div><!-- /المندوب -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="trader"></span>
              <div class="card-header">
                <h3 class="mb-0">التاجر</h3>
              </div>
              <div class="card-body">


                    {{form.ownerName|as_crispy_field}}
                    {{form.shopName|as_crispy_field}}
                    {{form.phoneNumber|as_crispy_field}}
                    {{form.address|as_crispy_field}}
                    {{form.activityKind|as_crispy_field}}
                    {{form.activityKind2|as_crispy_field}}


              </div><!--/card-block-->
            </div><!-- /التاجر -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="epay"></span>
              <div class="card-header">
                <h3 class="mb-0">الدفع الإلكترونى</h3>
              </div>
              <div class="card-body">


                    {{form.machinesOfepay|as_crispy_field}}



              </div><!--/card-block-->
            </div><!-- /الدفع الإلكترونى -->

            <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="tayer"></span>
              <div class="card-header">
                <h3 class="mb-0">الطاير</h3>
              </div>
              <div class="card-body">


                    {{form.tayer|as_crispy_field}}
                    {{form.intention|as_crispy_field}}



              </div><!--/card-block-->
            </div><!--  الطاير -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="mobile"></span>
              <div class="card-header">
                <h3 class="mb-0">المحمول</h3>
              </div>
              <div class="card-body">
                    {{form.kindOfMobile|as_crispy_field}}
              <div id="rate_value">
                <div style="max-width:100%"></div>
                <div class="left" id="left1">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR1(this.value)" />
                  <input class="interest" id="interest1" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR1(this.value)">
                </div>

                <div class="left" id="left2">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR2(this.value)" />
                  <input class="interest" id="interest2" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR2(this.value)">
                </div>

                <div class="left" id="left3">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR3(this.value)" />
                  <input class="interest" id="interest3" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR3(this.value)">
                </div>

                <div class="left" id="left4">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR4(this.value)" />
                  <input class="interest" id="interest4" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR4(this.value)">
                </div>

                <div class="left" id="left5">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR5(this.value)" />
                  <input class="interest" id="interest5" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR5(this.value)">
                </div>

                <div class="left" id="left6">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR6(this.value)" />
                  <input class="interest" id="interest6" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR6(this.value)">
                </div>

                <div class="left" id="left7">
                  <input type="range" name="kindOfMobile" min="0" max="10.0" value="0" step=".5" onchange="changedIR7(this.value)" />
                  <input class="interest" id="interest7" type="text" value="0 %" onkeypress="enterCheck()" onchange="focusoutIR7(this.value)">
                </div>

            </div>


              </div><!--/card-block-->


            </div><!--  المحمول -->

          <hr class="mb-3">
            <div class="card card-outline-secondary">
                <span class="anchor" id="evaluate"></span>
              <div class="card-header">
                <h3 class="mb-0">التقييمات</h3>
              </div>
              <div class="card-body">
                    {{form.amountOfTreat|as_crispy_field}}
                    {{form.evaluate|as_crispy_field}}
                    {{form.notes|as_crispy_field}}
                  <button id="submitting" class="form-control btn btn-success btn-lg float-center text-light" >حفــظ</button>

              </div><!--/card-block-->
            </div><!--  التقييمات -->
          </form>
        </div>
      </div>

<!-- Scroll to Top -->
<!--<a id="scroll-to-top" href="#" class="btn btn-primary btn-lg" role="button" title="Return to top of page" data-toggle="tooltip" data-placement="left">-->
<!--    <i class="fa fa-arrow-up"></i></a>-->


{% endblock %}

{% block script %}
<script type='text/javascript'>
// ---------------------rate --------------------\\
$(document).ready(function() {
	$('input[type="text"]').live('focus', function() {
	    var inp = this;
	    //alert("HI");
	    setTimeout(function() {
	        inp.select();
	    }, 1);
	});

});
function changedIR1(newValue) {
	var ir = newValue;
	document.getElementById("interest1").value = ir+" %";
	verify();
}
function focusoutIR1(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest1").value = ir+" %";
	verify();
}
function changedIR2(newValue) {
	var ir = newValue;
	document.getElementById("interest2").value = ir+" %";
	verify();
}
function focusoutIR2(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest2").value = ir+" %";
	verify();
}
function changedIR3(newValue) {
	var ir = newValue;
	document.getElementById("interest3").value = ir+" %";
	verify();
}
function focusoutIR3(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest3").value = ir+" %";
	verify();
}
function changedIR4(newValue) {
	var ir = newValue;
	document.getElementById("interest4").value = ir+" %";
	verify();
}
function focusoutIR4(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest4").value = ir+" %";
	verify();
}
function changedIR5(newValue) {
	var ir = newValue;
	document.getElementById("interest5").value = ir+" %";
	verify();
}
function focusoutIR5(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest5").value = ir+" %";
	verify();
}

function changedIR6(newValue) {
	var ir = newValue;
	document.getElementById("interest6").value = ir+" %";
	verify();
}
function focusoutIR6(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest6").value = ir+" %";
	verify();
}

function changedIR7(newValue) {
	var ir = newValue;
	document.getElementById("interest7").value = ir+" %";
	verify();
}
function focusoutIR7(newValue) {
	var ir = newValue.replace(/%/gi,'');
	document.getElementById("interest7").value = ir+" %";
	verify();
}
// ---------------------End rate --------------------\\

// ------------------ start ajax section --------------------- \\
        const form =  document.getElementById('form');
        const message_box =  document.getElementById('box');
        //$(this).serialize(),
        const csrf = document.getElementsByName('csrfmiddlewaretoken');
        const url = "";
        //form.addEventListener('submit',(e)=>{
        $(document).on('click','#submitting',function (e) {
        var data = new FormData($('form')[0]);


            e.preventDefault();
            $.ajax({
              type:'POST',
              enctype: 'multipart/form-data',
              url:url,
              data:data,
              dataType: 'json',
              cache: false,
              processData: false,
              contentType: false,
                success:function(response){
                    if (response.status == "true"){
                    $('#left1,#left2,#left3,#left4,#left5,#left6,#left7').hide();
                    $('#form')[0].reset();
                    $(window).scrollTop(0);
                    $('#box_message_success').fadeIn(500);
                    $('#box_message_success').fadeOut(5000);
                    }
                },
                error:function(error){
                if (error.status == "false"){

                $('#form')[0].reset();
                $(window).scrollTop(0);
                $('#box_message_danger').fadeIn(500);
                $('#box_message_danger').fadeOut(5000);
                }}
            });
        });
    // ------------------ end ajax section --------------------- \\

// ------------------ Start set other choice ----------------- \\
var data5 = document.getElementById('special_machinesOfepay');
$('#div_id_activityKind .form-check')[2].append(data5);
$('#special_machinesOfepay').attr('class','textinput textInput');
$('#special_machinesOfepay').attr('name','activityKind');
$('#special_machinesOfepay').attr('style','border-top: none;border-right: none;border-left: none;');
$('#special_machinesOfepay').fadeIn(500);
//data5.innerHTML + '<input style="float:right border-top: none;border-right: none;border-left: none;" type="text"> name="activityKind" value="other"'>;
// ------------------ End set other choice ----------------- \\

// ------------------  Start removeOptionEmpty --------------------\\
$('#id_intention').hide();
        function removeOptionEmpty(areas){
                $('#id_area').children().remove();
                $('#id_area').append(areas);
                  const options = document.getElementById('id_area').querySelectorAll('option');
                            options.forEach((optionmm) => {
                            var regions = optionmm.value;
                            if (regions===''){
                                optionmm.className = "remove-option";
                                $('.remove-option').remove();
                                }
                             });
};
// ------------------  End removeOptionEmpty --------------------\\

// ------------------  Start set region according seller --------------------\\
$('#id_nameOfMandoop').change(function(){

            var waleed = `<option value='نبروه'>نبروه<option>
                                    <option value='نشا'>نشا<option>
                                    <option value='طيبه'>طيبه<option>
                                    <option value='طبنوها'>طبنوها<option>
                                    <option value='كفر بهوت'>كفر بهوت<option>
                                    <option value='الدروتين'>الدروتين<option>
                                    <option value='نبروه'>نبروه<option>
                                    <option value='دميره'>دميره<option>
                                    <option value='كفر دميره الجديد'>كفر دميره الجديد<option>
                                    <option value='الخازندار'>الخازندار<option>
                                    <option value='بلقاس'>بلقاس<option>
                                    <option value='المعصره'>المعصره<option>
                                    <option value='بهوت'>بهوت<option>`;

            var fayes = `<option value='ميت بدر'> ميت بدر<option>
                        <option value='ميت خميس'> ميت خميس<option>
                        <option value='منية سندوب'> منية سندوب<option>
                        <option value='نقيطة'> نقيطة<option>
                        <option value='عزبة الحواوشه'> عزبة الحواوشه<option>
                        <option value='سلكا'> سلكا<option>
                        <option value='نوسا الغيط'> نوسا الغيط<option>
                        <option value='أجا'> أجا<option>
                        <option value='منية سمنود'> منية سمنود<option>
                        <option value='سنبخت'> سنبخت<option>
                        <option value='نوسا البحر'> نوسا البحر<option>
                        <option value='كفر الشنهاب'> كفر الشنهاب<option>
                        <option value='اويش الحجر'> اويش الحجر<option>`;

            var hassan = `<option value='ميت الكرما'> ميت الكرما<option>
                        <option value='جوجر'> جوجر<option>
                        <option value='منشاه البدوى'> منشاه البدوى<option>
                        <option value='شرنقاش'> شرنقاش<option>
                        <option value='ميت عنتر'> ميت عنتر<option>
                        <option value='الطويله'> الطويله<option>
                        <option value='كتامه'> كتامه<option>
                        <option value='ديسط'> ديسط<option>
                        <option value='بساط'> بساط<option>
                        <option value='كفربساط'> كفربساط<option>
                        <option value='بطره'> بطره<option>`;

            var ibrahim = `<option value='ميت مزاح'> ميت مزاح<option>
                        <option value='الريدانيه'> الريدانيه<option>
                        <option value='سلامون'> سلامون<option>
                        <option value='منية محله دمنه'> منية محله دمنه<option>
                        <option value='الجزيره'> الجزيره<option>
                        <option value='القباب الصغرى والكبرى'> القباب الصغرى والكبرى<option>
                        <option value='دموه'> دموه<option>
                        <option value='ميت ضافر'> ميت ضافر<option>
                        <option value='دكرنس'> دكرنس<option>
                        <option value='ميت فارس'> ميت فارس<option>
                        <option value='بنى عبيد'> بنى عبيد<option>
                        <option value='طناح'> طناح<option>
                        <option value='الخليج'> الخليج<option>
                        <option value='بدين'> بدين<option>
                        <option value='الدنابيق'> الدنابيق<option>
                        <option value='ميت مزاح'> ميت مزاح<option>
                        <option value='الريدانيه'> الريدانيه<option>
                        <option value='سلامون'> سلامون<option>`;

        if ($(this).val() === 'وليد') {removeOptionEmpty(waleed);}
        else if($(this).val() === 'فايز') {removeOptionEmpty(fayes);}
        else if($(this).val() === 'حسن') {removeOptionEmpty(hassan);}
        else if($(this).val() === 'إبراهيم') {removeOptionEmpty(ibrahim);}
});
// ------------------  End set region according seller --------------------\\


// ------------------  Start indentation --------------------\\
$('input:radio[name="tayer"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == 'يوجد') {
            $('#id_intention').fadeIn(500);
        }else if($(this).is(':checked') && $(this).val() == 'لا يوجد'){
            $('#id_intention').fadeIn(500);
        }
    });
// ------------------  End indentation --------------------\\

// ------------------  Start rate show and hide  --------------------\\
    $('input[name="kindOfMobile"]').change(
    function(){
        if ($(this).val() == 'سامسونج') {
                 $('#left1').insertAfter($('label[for="id_kindOfMobile_1"]'))
                $('#left1').fadeIn(500);
         }
        else if($(this).val() == 'هواوى'){
        $('#left2').insertAfter($('label[for="id_kindOfMobile_2"]'))
        $('#left2').fadeIn(500);
        }
        else if($(this).val() == 'أبل'){
        $('#left3').insertAfter($('label[for="id_kindOfMobile_3"]'))
        $('#left3').fadeIn(500); }
        else if($(this).val() == 'شاومى'){
        $('#left4').insertAfter($('label[for="id_kindOfMobile_4"]'))
        $('#left4').fadeIn(500); }
        else if($(this).val() == 'نوكيا'){
        $('#left5').insertAfter($('label[for="id_kindOfMobile_5"]'))
        $('#left5').fadeIn(500); }
        else if($(this).val() == 'انفنكس'){
        $('#left6').insertAfter($('label[for="id_kindOfMobile_6"]'))
        $('#left6').fadeIn(500); }
        else if($(this).val() == 'أوبو'){
        $('#left7').insertAfter($('label[for="id_kindOfMobile_7"]'))
        $('#left7').fadeIn(500); }
    });

    </script>
{% endblock %}